*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 32px;
}

header {
    background: red;
    color: white;
    font-weight: bold;
    padding: 20px;
}

nav {
    background: orange;
    padding: 20px;
}

main {
    background-color: #ccc;
    display: flex;
    margin: 0 auto;
    max-width: 1440px;
}

aside {
    width: 30%;
    padding: 20px;
}

article {
    width: 70%;
    padding: 20px;
}

.title-bar {
    background-color: #fff;
    padding: 20px;
}

footer {
    clear: both;
    background: purple;
    color: white;
    padding: 20px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.sticky {
    overflow: auto;
    z-index: 10;
}
