*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 32px;
}

nav {
    background: orange;
    padding: 20px;
}

main {
    background-color: #ccc;
    display: flex;
    margin: 0 auto;
    max-width: 1440px;
}

.title-bar {
    background-color: #fff;
    padding: 20px;
}

h1,
h2,
h3 {
    background-color: #fff;
    margin: 0;
    padding: 8px;
}

.sticky {
    overflow: auto;
    z-index: 10;
}

.search-box {
    background: lightskyblue;
    padding: 20px;
    font-size: 16px;
}
